<link rel="stylesheet" href="/css/user_profile.css">


<img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" width="100 ">


<% if(user.id == profile_user.id){ %>
    <!-- if user matches then show the form -->
    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>

        <input accept="image/*" type="file" name="avatar" id="userAvatar" onchange="loadFile(event)" placeholder="Profile Picture">
        <img id="userAvatarPreview" src="#" alt="Avatar Preview" width="100">

        <input type="submit"  value="Update">
    </form>
    
<%}else{%>    
    <!-- else show only the profile info -->
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
    <br>
    <p id="friendship-add-remove">
      <a class="friendship-add-button friendship-button" href="/friendship/add/<%= profile_user.id %>"">Add Friend</a>
    </p>
<%} %>

<script src="/js/friendship.js"></script>

<script>
  var loadFile = function(event) {
    var output = document.getElementById('userAvatarPreview');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
</script>
